# .github/workflows/windows-2025.yml
name: Windows 2025 Workflow
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    shell: pwsh

jobs:
  build-test-python-package-on-windows:
    runs-on: windows-2025

    steps:

      # windows is so funny ... NOT
      - name: Enable Git long paths
        run: git config --global core.longpaths true
        shell: pwsh

      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
            fetch-depth: 0
            submodules: recursive

      # my windows container is quite big ... so remove runner packages for enough
      # dis space
      - name: Cleanup disk space
        uses: ./.github/actions/cleanup-disk-space

      - name: Login to GitHub
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: Kataglyphis
          password: ${{ secrets.GHCR_PAT }}

      - name: Pull image
        run: |
          docker pull ghcr.io/kataglyphis/kataglyphis_beschleuniger:winamd64

      - name: Run container
        run: |
          docker run --rm `
            --mount "type=bind,source=${{ github.workspace }},target=C:\workspace" `
            -w "C:\workspace" `
            ghcr.io/kataglyphis/kataglyphis_beschleuniger:winamd64 `
            powershell -NoProfile -ExecutionPolicy Bypass -File "C:\workspace\scripts\windows\Build-Windows.ps1" 

      - name: Upload files & Zip
        uses: actions/upload-artifact@v6.0.0
        with:
          name: python-package-windows-source-and-binaries
          path: |
            ./dist/